 .u-section-1 {
  background-image: linear-gradient(#b187fd, #9054fc);
}

.u-section-1 .u-sheet-1 {
  min-height: 966px;
}

.u-section-1 .u-countdown-1 {
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -55px auto 0;
  padding: 88px 26px;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 10rem;
  line-height: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 3.125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 10rem;
  line-height: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 10rem;
  line-height: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 3.125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 10rem;
  line-height: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 10rem;
  line-height: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 3.125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 10rem;
  line-height: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 10rem;
  line-height: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 3.125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 10rem;
  line-height: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 10rem;
  line-height: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 3.125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 10rem;
  line-height: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 10rem;
  line-height: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 3.125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-countdown-2 {
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  margin: -135px auto 0;
  padding: 52px 6px;
}

.u-section-1 .u-countdown-counter-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 10rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 10rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 10rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 10rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 10rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 10rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 10rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 10rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-11 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 10rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-11 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 10rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-12 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 10rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-12 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: -42px auto 0;
}

.u-section-1 .u-text-2 {
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 237px 97px 60px;
}

.u-section-1 .u-btn-1 {
  font-size: 2.25rem;
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-decoration: underline !important;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: -47px;
  }

  .u-section-1 .u-countdown-2 {
    margin-top: -143px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-left: 77px;
    margin-right: 77px;
  }

  .u-section-1 .u-text-2 {
    width: 434px;
    margin-top: 133px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-countdown-2 {
    margin-top: -135px;
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 209px;
    margin-left: -27px;
    margin-right: -27px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3266px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: -49px;
  }

  .u-section-1 .u-countdown-2 {
    margin-top: -131px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -44px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 96px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: -38px;
    margin-left: -43px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-1 .u-countdown-label-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-6 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-2 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -229px;
    margin-left: -50px;
    margin-right: -50px;
    padding: 128px 0;
  }

  .u-section-1 .u-countdown-label-7 {
    font-size: 2.25rem;
    letter-spacing: 0px;
  }

  .u-section-1 .u-countdown-label-8 {
    font-size: 2.25rem;
    letter-spacing: 0px;
  }

  .u-section-1 .u-countdown-label-9 {
    font-size: 2.25rem;
    letter-spacing: 0px;
  }

  .u-section-1 .u-countdown-label-10 {
    font-size: 2.25rem;
    letter-spacing: 0px;
  }

  .u-section-1 .u-countdown-label-11 {
    font-size: 2.25rem;
    letter-spacing: 0px;
  }

  .u-section-1 .u-countdown-label-12 {
    font-size: 2.25rem;
    letter-spacing: 0px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -96px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 113px;
    margin-left: -25px;
    margin-right: -25px;
  }
}

.u-section-1 .u-countdown-1,
.u-section-1 .u-countdown-1:before,
.u-section-1 .u-countdown-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-countdown-1.u-countdown-1.u-countdown-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-countdown-1 {
  border-color: transparent !important;
}

.u-section-1 .u-countdown-1.u-countdown-1.u-countdown-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-countdown-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-countdown-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-countdown-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  color: #ffffff !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-2 {
  border-color: transparent !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  color: #ffffff !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-countdown-2,
.u-section-1 .u-countdown-2:before,
.u-section-1 .u-countdown-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-countdown-2.u-countdown-2.u-countdown-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-countdown-2 {
  border-color: transparent !important;
}

.u-section-1 .u-countdown-2.u-countdown-2.u-countdown-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-countdown-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-countdown-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-countdown-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}